body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.main-block {
    margin: 2% auto;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.form-group {
    padding: 3px 0;
}